
@-webkit-keyframes flash {
  from { background: white; }
  to { background: black; }
  from {color:black;}
  to {color:white;}
}

p {
  -webkit-animation-name: flash;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(.5, 0, 1, 1);
  -webkit-animation-duration: 10s;
}
